@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,900,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

@mixin prefixo($p,$v) {
  -webkit-#{$p}: $v;
  -moz-#{$p}: $v;
  -o-#{$p}: $v;
  -ms-#{$p}: $v;
  #{$p}: $v;
}
$concrete: #95a5a6;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$youtube-red: #bb0000;
$youtube-darken-red: #800000;
$asbestos: #7f8c8d;
$emerald: #2ecc71;
$white: #FFF;
$grey: #f1f1f1;
$black: #000;
$mid-black: #333;
$linkedin-blue: #1b5480;
$linkedin-blue-secondary: #287bbc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  background-color: $midnight-blue;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

a{
  color: $white;
  text-decoration: none;
}
.header{
  width: 100%;
  height: 100vh;
  background-image: url(../img/main-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .8);
  }
  .header-content{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    .header-text{
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      h1,
      h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: $white;
      }
      h1{
        font-size: 3em;
      }
      h2{
        font-size: 1.2em;
        margin-bottom: 1.4em;
      }
      .header-controls{
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
        .input{
          width: 100%;
          padding: 1em;
          border: 1px solid $concrete;
          margin-bottom: 1em;
          &:focus{
            outline: none;
            box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
          }
        }
        .button{
          @include prefixo(transition, .5s all ease);
          cursor: pointer;
          background-color: $white;
          border: 1px solid $grey;
          i{
            margin-right: 10px;
          }
          &:hover{
            background-color: $grey;
          }
        }
        .voice-button{
          z-index: 3;
          background-color: $youtube-red;
          border: 1px solid $youtube-darken-red;
          color: $white;
          &:hover{
            background-color: $youtube-darken-red;
          }
        }
      }
    }
  }
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.9);
  .voice-wrapper{    
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    .voice-content{
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      .voice-text{
        text-align: center;
        max-width: 600px;
        margin: 0 auto 2em auto;
        background-color: $white;
        padding: 2em .5em;
        h1{
          display: none;
          font-weight: 300;
          a{
            color: $black;
            font-weight: 700;
          }
        }
        i{
          margin-right: 10px;
          color: $youtube-red;
        }
      }
      .voice-cancel{
        font-weight: 700;
        color: $white;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.results{
  display: none;
  position: relative;
  padding-top: 6em;
  padding-bottom: 2em;
  background-color: $grey;
  min-height: 100vh;
  h1{
    color: $black;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    margin-bottom: 2em;
  }
  .legenda{
    @include prefixo(border-radius, 4px);
    width: 100%;
    background-color: $asbestos;
    overflow: hidden;
    border-bottom: 2px solid $concrete;
    margin-bottom: 2em;
    div{  
      float: left;
      min-height: 35px;
      border-right: 1px solid $concrete;
      padding: 1em;
      color: $white;
      font-size: 12px;
      font-weight: 700;
      &:last-child{
        border-right: none;
      }
    }
    .linha{width: 10%; text-align: center;}
    .horarios{ @extend .linha; }
    .trajetos{ @extend .linha; }
    .nome{width: 35%;}
    .sentido{ @extend .nome; }
  }
  .result{
    width: 100%;
    margin-bottom: 2em;
    .result-header{
      @include prefixo(box-shadow, 0 1px 2px rgba(0,0,0,.1));
      @include prefixo(border-radius, 4px);
      border-bottom: 2px solid $midnight-blue;
      overflow: hidden;
      div{  
        float: left;
        min-height: 35px;
        border-right: 1px solid $midnight-blue;
        padding: 1em .5em;
        font-weight: 700;
        font-size: 12px;
        color: $white;
        &:last-child{
          border-right: none;
        }
      }      
      .horarios{
        @include prefixo(transition, .5s all ease);
        &:hover{
          background-color: $midnight-blue;
        }
      }
      .trajetos{
        @extend .horarios;
        a{
          display: block;
        }
      }
    }
    .more-infos{
      display: none;
      background-color: $white;
      overflow: hidden;
      @include prefixo(border-bottom-left-radius, 4px);
      @include prefixo(border-bottom-right-radius, 4px);
      section.horarios{
        overflow: hidden;
        .horario{
          float: left;
          padding: 1em; 
          min-height: 100px;
          h2{
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          &:last-child{
            border-right: none;
          }
          table{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            
            td{
              border: 1px solid $midnight-blue;
              text-align: center;
              vertical-align: middle;
              color: $mid-black;
              padding: 8px 5px;
            }
            thead{
              background-color: $midnight-blue;
              td{
                color: $white;
              }
            }
            tbody{
              background-color: $white;
            }
          }
        }
      }
    }
  }
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.message{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em 1em;
  z-index: 4;
  .message-text{
    font-weight: 300;
    color: $white;
  }
  
  .close-message{
    @include prefixo(transition, .3s all ease);
    @include prefixo(border-radius, 100%);
    cursor: pointer;
    position: fixed;
    right: 1.2em;
    bottom: 1.2em;    
    border: 2px solid $white;
    padding: .8em;
    i{
      font-size: 1.4em;
      color: $white;
    }
    &:hover{
      border-color: $youtube-darken-red;
    }
    &:hover > i{
      color: $youtube-darken-red;
    }
  }
}

.success{
  background-color: $emerald;
}

.error{
  background-color: $youtube-red;
}

.footer{
  background-color: $black;
  padding: 2em 0;
  text-align: center;
  span{
    color: $white;
    margin-right: 1em;
    a{
      font-weight: 700;
      color: $linkedin-blue;
      padding: 0 .5em;
      &:hover{
        color: $linkedin-blue-secondary;
      }
    }
  }
}
//smartphones ant tablet portrait
@media screen and (max-width: 996px) {  
  .horario{
    width: 100%;
  }
  .container{
    max-width: 95%;
  }
  .legenda{display: none;}
  .result{
    .result-header{      
      background-color: $midnight-blue;
      .linha{width: 30%; text-align: center; background-color: $midnight-blue;}
      .horarios{
        background-color: $wet-asphalt;
        width: 50%;
        cursor: pointer;
        text-align: center;
        span{margin-left: 5px;}
      }
      .trajetos{
        background-color: $wet-asphalt;
        width: 50%;
        cursor: pointer;
        text-align: center;
        span{margin-left: 5px;}
      }
      .nome{width: 70%; background-color: $midnight-blue;}
      .sentido{ width: 100%; background-color: $midnight-blue; text-align: center;}
    }
  }
  .button{
    width: 50%;
    float: left;
    padding: 1em;
    margin-right: 0;
  }
  .footer{
    span{
      display: block;
      margin-bottom: 10px;
    }
  }
}
//tablet landscape and higher
@media screen and (min-width: 1024px) {
  .horario{
    width: 33%;
  }
  
  .result{
    .result-header{
      background-color: $wet-asphalt;
      .linha{width: 10%; text-align: center;}
      .horarios{width: 10%; text-align: center; cursor: pointer; span{display: none;}}
      .trajetos{width: 10%; text-align: center; cursor: pointer; span{display: none;}}
      .nome{width: 35%;}
      .sentido{width: 35%;}
    }
  }
  .input{
    border-radius: 4px;
  }
  .button{
    border-radius: 2px;
    padding: 1em 2em;
    margin-right: 1em;
  }
}