@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,900,300);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,600);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #2c3e50;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 14px; }

a {
  color: #FFF;
  text-decoration: none; }

header.main {
  z-index: 1;
  height: 100vh;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  header.main .wrapper {
    z-index: 2; }
    header.main .wrapper .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6); }
    header.main .wrapper .header-content h1, header.main .wrapper .header-content h2 {
      color: #FFF;
      display: block;
      font-family: 'Raleway', sans-serif; }
    header.main .wrapper .header-content h1.main-title {
      font-weight: 900; }
    header.main .wrapper .header-content h2.main-subtitle {
      font-size: 1.6em;
      font-weight: 500; }
    header.main .wrapper .header-content .search-controls {
      width: 100%;
      text-align: center;
      margin-top: 2em; }
      header.main .wrapper .header-content .search-controls .controls {
        margin: 0 auto;
        overflow: hidden; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3; }
  .overlay .wrapper {
    text-align: center; }
    .overlay .wrapper h1 {
      font-size: 3em;
      font-family: 'Raleway', sans-serif;
      color: #FFF;
      margin-top: 2em; }

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #FFF;
  border-bottom: 2px solid #bdc3c7;
  padding: 1em 2em;
  float: left;
  width: 85%;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-border-top-left-radius: 30px;
  -moz-border-top-left-radius: 30px;
  -o-border-top-left-radius: 30px;
  -ms-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  -o-border-bottom-left-radius: 30px;
  -ms-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px; }
  input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: inset 1px 2px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 1px 2px 40px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 1px 2px 40px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 1px 2px 40px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 2px 40px rgba(0, 0, 0, 0.2); }

button {
  -webkit-transition: 0.6s all ease;
  -moz-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  -ms-transition: 0.6s all ease;
  transition: 0.6s all ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

button.search-button {
  width: 15%;
  background-color: #2ecc71;
  border-bottom: 2px solid #27ae60;
  color: #FFF;
  float: left;
  padding: 1em;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  -o-border-top-right-radius: 30px;
  -ms-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  -o-border-bottom-right-radius: 30px;
  -ms-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px; }

.voice-search {
  position: absolute;
  bottom: 2em;
  width: 72px;
  height: 72px;
  left: 50%;
  margin-left: -36px;
  z-index: 2; }

.close {
  position: absolute;
  top: 1em;
  right: 1em; }
  .close i {
    color: #FFF;
    font-size: 2em; }

div.clicked {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  z-index: 3; }
  div.clicked button {
    -webkit-animation: blink-effect 1s infinite;
    -moz-animation: blink-effect 1s infinite;
    -o-animation: blink-effect 1s infinite;
    -ms-animation: blink-effect 1s infinite;
    animation: blink-effect 1s infinite; }

button.search-toggle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #bb0000;
  padding: 2em 2.2em;
  outline: none; }
  button.search-toggle i {
    color: #FFF;
    font-size: 1.6em; }
  button.search-toggle:hover {
    background-color: #800000; }

button i {
  color: #FFF; }

.results {
  display: none;
  position: relative;
  padding-top: 6em;
  padding-bottom: 2em;
  background-color: #f1f1f1;
  min-height: 100vh; }
  .results h1 {
    color: #000;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    margin-bottom: 2em; }
  .results .legenda {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: #95a5a6;
    overflow: hidden;
    border-bottom: 2px solid #7f8c8d;
    margin-bottom: 2em; }
    .results .legenda div {
      float: left;
      min-height: 35px;
      border-right: 1px solid #7f8c8d;
      padding: 1em;
      color: #FFF; }
      .results .legenda div:last-child {
        border-right: none; }
    .results .legenda .linha, .results .legenda .horarios, .results .legenda .result .result-header .trajetos, .results .result .result-header .legenda .trajetos, .results .legenda .trajetos {
      width: 10%;
      text-align: center; }
    .results .legenda .nome, .results .legenda .sentido {
      width: 35%; }
  .results .result {
    width: 100%;
    margin-bottom: 2em; }
    .results .result .result-header {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background-color: #34495e;
      border-bottom: 2px solid #2c3e50;
      overflow: hidden; }
      .results .result .result-header div {
        float: left;
        min-height: 35px;
        border-right: 1px solid #2c3e50;
        padding: 1em;
        color: #FFF; }
        .results .result .result-header div:last-child {
          border-right: none; }
      .results .result .result-header .horarios, .results .result .result-header .trajetos {
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        transition: 0.5s all ease; }
        .results .result .result-header .horarios:hover, .results .result .result-header .trajetos:hover {
          background-color: #2c3e50; }
      .results .result .result-header .trajetos a {
        display: block; }
    .results .result .more-infos {
      display: none;
      background-color: #FFF;
      overflow: hidden;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-bottom-left-radius: 4px;
      -o-border-bottom-left-radius: 4px;
      -ms-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-bottom-right-radius: 4px;
      -o-border-bottom-right-radius: 4px;
      -ms-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .results .result .more-infos section.horarios, .results .result .more-infos .result-header section.trajetos, .results .result .result-header .more-infos section.trajetos {
        overflow: hidden; }
        .results .result .more-infos section.horarios .horario, .results .result .more-infos .result-header section.trajetos .horario, .results .result .result-header .more-infos section.trajetos .horario {
          float: left;
          padding: 1em;
          min-height: 100px;
          border-right: 1px solid #bdc3c7; }
          .results .result .more-infos section.horarios .horario h2, .results .result .more-infos .result-header section.trajetos .horario h2, .results .result .result-header .more-infos section.trajetos .horario h2 {
            font-weight: 400;
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 10px; }
          .results .result .more-infos section.horarios .horario:last-child, .results .result .more-infos .result-header section.trajetos .horario:last-child, .results .result .result-header .more-infos section.trajetos .horario:last-child {
            border-right: none; }
          .results .result .more-infos section.horarios .horario table, .results .result .more-infos .result-header section.trajetos .horario table, .results .result .result-header .more-infos section.trajetos .horario table {
            font-family: 'Dosis', sans-serif;
            font-weight: 300;
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse; }
            .results .result .more-infos section.horarios .horario table td, .results .result .more-infos .result-header section.trajetos .horario table td, .results .result .result-header .more-infos section.trajetos .horario table td {
              border: 1px solid #2c3e50;
              text-align: center;
              vertical-align: middle;
              color: #333;
              padding: 8px 5px; }
            .results .result .more-infos section.horarios .horario table thead, .results .result .more-infos .result-header section.trajetos .horario table thead, .results .result .result-header .more-infos section.trajetos .horario table thead {
              background-color: #2c3e50; }
              .results .result .more-infos section.horarios .horario table thead td, .results .result .more-infos .result-header section.trajetos .horario table thead td, .results .result .result-header .more-infos section.trajetos .horario table thead td {
                color: #FFF; }
            .results .result .more-infos section.horarios .horario table tbody, .results .result .more-infos .result-header section.trajetos .horario table tbody, .results .result .result-header .more-infos section.trajetos .horario table tbody {
              background-color: #FFF; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.fixed-controls {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2; }

button.show-controls {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3; }

button.back-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #3498db;
  border-bottom: 2px solid #2980b9;
  padding: 1em; }
  button.back-to-top i {
    font-size: 2em; }

.footer {
  padding: 2em 0;
  overflow: hidden;
  background-color: #000; }
  .footer .half {
    width: 50%;
    padding: 1em;
    float: left;
    color: #FFF; }
    .footer .half a {
      font-style: italic;
      color: #1b5480; }
      .footer .half a:hover {
        color: #287bbc; }
    .footer .half .author {
      margin-bottom: 1em; }
      .footer .half .author a {
        padding: 0 1em; }
  .footer .authors {
    text-align: right; }

@media screen and (max-width: 768px) {
  .fixed-controls .controls input[type="text"] {
    width: 70%; }

  .mask {
    display: none; }

  .header-content {
    z-index: 2;
    text-align: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 5em 0; }
    .header-content h1.main-title {
      font-size: 3em; }
    .header-content .controls {
      max-width: 95%; }

  .horario {
    width: 100%; }

  .container {
    max-width: 95%; }

  .show-controls,
  .back-to-top {
    width: 15%; }

  .legenda {
    display: none; }

  .result .result-header .linha, .result .result-header .results .legenda .horarios, .results .legenda .result .result-header .horarios, .results .result .result-header .legenda .trajetos, .result .result-header .results .legenda .trajetos, .results .legenda .result .result-header .trajetos {
    width: 30%;
    text-align: center;
    background-color: #2c3e50; }
  .result .result-header .horarios, .results .result .result-header .trajetos {
    width: 50%;
    cursor: pointer;
    text-align: center; }
    .result .result-header .horarios span, .results .result .result-header .trajetos span {
      margin-left: 5px; }
  .result .result-header .trajetos {
    width: 50%;
    cursor: pointer;
    text-align: center; }
    .result .result-header .trajetos span {
      margin-left: 5px; }
  .result .result-header .nome, .result .result-header .results .legenda .sentido, .results .legenda .result .result-header .sentido {
    width: 70%;
    background-color: #2c3e50; }
  .result .result-header .sentido {
    width: 100%;
    background-color: #2c3e50; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    max-width: 80%;
    margin: 0 auto; }
    .wrapper .header-content {
      position: absolute;
      width: 760px;
      height: 176px;
      top: 50%;
      left: 50%;
      margin-top: -88px;
      margin-left: -380px;
      z-index: 2;
      text-align: center; }
      .wrapper .header-content h1.main-title {
        font-size: 3em; }
      .wrapper .header-content .controls {
        max-width: 95%; }

  .voice-search {
    bottom: 6em; }

  .horario {
    width: 50%; }

  .result .result-header .linha, .result .result-header .results .legenda .horarios, .results .legenda .result .result-header .horarios, .results .result .result-header .legenda .trajetos, .result .result-header .results .legenda .trajetos, .results .legenda .result .result-header .trajetos {
    width: 10%;
    text-align: center; }
  .result .result-header .horarios, .results .result .result-header .trajetos {
    width: 10%;
    text-align: center;
    cursor: pointer; }
    .result .result-header .horarios span, .results .result .result-header .trajetos span {
      display: none; }
  .result .result-header .trajetos {
    width: 10%;
    text-align: center;
    cursor: pointer; }
    .result .result-header .trajetos span {
      display: none; }
  .result .result-header .nome, .result .result-header .results .legenda .sentido, .results .legenda .result .result-header .sentido {
    width: 35%; }
  .result .result-header .sentido {
    width: 35%; }

  button.show-controls,
  button.back-to-top {
    width: 5%; }

  .fixed-controls {
    right: -6.5em; } }
@media screen and (min-width: 1024px) {
  .wrapper {
    z-index: 2;
    display: table;
    width: 100%;
    height: 100vh; }
    .wrapper:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .wrapper .header-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 960px;
      height: 164px;
      margin-top: -82px;
      margin-left: -480px;
      z-index: 2;
      text-align: center; }
      .wrapper .header-content h1.main-title {
        font-size: 4em; }
      .wrapper .header-content .controls {
        max-width: 50%; }

  .horario {
    width: 33%; }

  .result .result-header .linha, .result .result-header .results .legenda .horarios, .results .legenda .result .result-header .horarios, .results .result .result-header .legenda .trajetos, .result .result-header .results .legenda .trajetos, .results .legenda .result .result-header .trajetos {
    width: 10%;
    text-align: center; }
  .result .result-header .horarios, .results .result .result-header .trajetos {
    width: 10%;
    text-align: center;
    cursor: pointer; }
    .result .result-header .horarios span, .results .result .result-header .trajetos span {
      display: none; }
  .result .result-header .trajetos {
    width: 10%;
    text-align: center;
    cursor: pointer; }
    .result .result-header .trajetos span {
      display: none; }
  .result .result-header .nome, .result .result-header .results .legenda .sentido, .results .legenda .result .result-header .sentido {
    width: 35%; }
  .result .result-header .sentido {
    width: 35%; }

  button.show-controls,
  button.back-to-top {
    width: 5%; }

  .fixed-controls {
    right: -6.5em; }
    .fixed-controls .controls {
      width: 50%;
      float: right; }
      .fixed-controls .controls input[type="text"] {
        width: 45%; } }
@-webkit-keyframes blink-effect {
  0% {
    box-shadow: none; }
  10% {
    box-shadow: 0 0 2px #bb0000; }
  20% {
    box-shadow: 0 0 4px #bb0000; }
  30% {
    box-shadow: 0 0 6px #bb0000; }
  40% {
    box-shadow: 0 0 8px #bb0000; }
  50% {
    box-shadow: 0 0 10px #bb0000; }
  60% {
    box-shadow: 0 0 8px #bb0000; }
  70% {
    box-shadow: 0 0 6px #bb0000; }
  80% {
    box-shadow: 0 0 4px #bb0000; }
  90% {
    box-shadow: 0 0 2px #bb0000; }
  100% {
    box-shadow: none; } }
@keyframes blink-effect {
  0% {
    box-shadow: none; }
  10% {
    box-shadow: 0 0 2px #bb0000; }
  20% {
    box-shadow: 0 0 4px #bb0000; }
  30% {
    box-shadow: 0 0 6px #bb0000; }
  40% {
    box-shadow: 0 0 8px #bb0000; }
  50% {
    box-shadow: 0 0 10px #bb0000; }
  60% {
    box-shadow: 0 0 8px #bb0000; }
  70% {
    box-shadow: 0 0 6px #bb0000; }
  80% {
    box-shadow: 0 0 4px #bb0000; }
  90% {
    box-shadow: 0 0 2px #bb0000; }
  100% {
    box-shadow: none; } }
::-webkit-scrollbar {
  width: 4px; }

/* Track */
::-webkit-scrollbar-track {
  background: #000; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2ecc71; }

.message {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em 1em;
  z-index: 4; }
  .message .message-text {
    font-weight: 300;
    color: #FFF; }
  .message .close-message {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    right: 1.2em;
    bottom: 1.2em;
    border: 2px solid #FFF;
    padding: .8em; }
    .message .close-message i {
      font-size: 1.4em;
      color: #FFF; }
    .message .close-message:hover {
      border-color: #800000; }
    .message .close-message:hover > i {
      color: #800000; }

.success {
  background-color: #2ecc71; }

.error {
  background-color: #bb0000; }

/*# sourceMappingURL=style.css.map */
